# Python 101

This Jupyter notebook contains all the code that we will go through today. There are some exercises and quizzes to get you coding as we go along and to test your knowledge of the topics.

Jupyter notebooks are made up of cells (like this one). They are popular amongst data scientists as they allow a mix of text and code, which can be helpful to provide explanations around what code does. To run the code in a cell, make sure you have that cell selected and hit `SHIFT + ENTER`.

## 0. Contents

- 1. [Basic Commands](#s1)
    - 1.1 [Variable Assignment](#s1.1)
    - 1.2 [Python operators](#s1.2)
- 2. [Data Types](#s2)
    - 2.1 [Basic data types](#s2.1)
    - 2.2 [Lists](#s2.2)
    - 2.3 [Tuples](#s2.3)
    - 2.4 [Sets](#s2.4)
    - 2.5 [Dictionaries](#s2.5)
    - 2.6 [Summary](#summary1)
- 3. [Control Flows](#s3)
    - 3.1 [For loops](#s3.1)
    - 3.2 [If statements](#s3.2)
    - 3.3 [While statements](#s3.3)
- 4. [Functions](#s4)
- 5. [Other useful features](#s5)
    - 5.1 [Exception handling](#s5.1)
    - 5.2 [String formatting](#s5.2)
    - 5.3 [Lambda functions](#s5.3)
- 6. [Summary](#summary2)
- 7. [Exercise](#s7)

<a id='s1'></a>
## 1. Basic Commands

<a id='s1.1'></a>
### 1.1. Variable Assignment

Variables are how you can store and access pieces of information (data) in Python.

Variables names can be formed from all letters and numbers as well as the underscore character '_'. White space and other symbols are not allowed and variables cannot start with a number.

For most applications, good style is to name variables using lowercase, using underscores where necessary to improve readability.

In [1]:
x=5

In [2]:
# Comments in python are written after the hash key, like this!
# Store 5 in a variable named x.
x = 5

# Store 3.14 in a variable named f.
f = 3.14

# Store "Hello, world!" in a variable named w.
w = "Hello, world!"

# Store True in a variable named t
t = True

# You can simultaneously assign a single value to several variables.
a = b = c = 1

<a id='s1.2'></a>
### 1.2 Python operators

#### 1.2.1 Arithmetic operators

Python has all of the main mathematical operations prebuilt into the language. The table below details the main ones.

| Symbol | Operator | Example |
|------|------|-----|
|   +  | Addition | 2 + 2 = 4 |
|   -  | Subtraction | 4 - 1 = 3 |
|   *  | Multiplication | 2 * 3 = 6 |
|   /  | Division | 8 / 2 = 4 |
|   %  | Modulus (gives the remainder) | 8 % 3 = 2 |
|   \*\*  | Exponent | 2\*\*3 = 8 |
|   //  | Floor Division | 9 // 2 = 4 |

These can be used in combination with the variables defined in the previous section to do some basic arithmetic

In [ ]:
# The print() command prints the contents of the parentheses to the console.

# Different items to be printed are separated by a comma.
print("x + 5 =", x + 5)
print("x - 5 =", x - 5)
print("x * 2 =", x * 5)
print("x / f =", x / f)
print("x % f =", x % f)
print("x**4 =", x**4)
print("x//f =", x//f)

x + 5 = 10
x - 5 = 0
x * 2 = 25
x / f = 1.592356687898089
x % f = 1.8599999999999999
x**4 = 625
x//f = 1.0

#### 1.2.2 Comparison operators

These operators are used (unsurprisingly!) to compare two values. The table below describes the main ones.

| Symbol | Operator |
|------|------|
|   <  | Less than |
|   <=  | Less than or equal |
|   ==  | Equal to |
|   >  | Greater than |
|   >=  | Greater than or equal to |
|   !=  | Not equal |
|   <>  | Not equal |

These aren't just for numbers, text can also be compared - less than or greater than refers to the alphabetical order of the text (although lowercase and uppercase are treated differently).

In [ ]:
print("Is x < 6?", x < 6, "\n")

# Letters earlier in the alphabet are "<" later letters
print("Is 'a' < 'z'?", "A" < "z")

# Uppercase letters are "<" lowercase ones.
print("Is 'A' < 'a'?", "A" < "a", "\n")

# Testing identity
print("Is 3 == 3?", 3 == 3)
# Alternatively
print("3 is 3?", 3 is 3, "\n")
print("Is 3 != 3?", 3 != 3)
print("3 is not 3?", 3 is not 3)

Is x < 6? True

Is 'a' < 'z'? True
Is 'A' < 'a'? True

Is 3 == 3? True
3 is 3? True

Is 3 != 3? False
3 is not 3? False

#### 1.2.3 Logical operators

Logical operators return Boolean values when used in a decision structure. There are three of them: **and**, **or**, and **not**.


| Symbol | Operator |
|------|------|
|   and  | logical AND |
|   or  | logical OR |
|   not  | logical NOT |

#### Quiz

What are the resulting Booleans of the following phrases?

```python
3 + 1 is 4
"Cat" != "Dog"
10 % 2 <= 2
len("Cat") == len("Dog")
3 < int(3.14)
```
Hint: The len() function determines the length of a string

#### Answers

To find the answers uncomment the next cell by highlighting all of the text and pressing `CTRL/COMMAND + /`

In [14]:
a=255
b=256
print(a + 1 is b)
# print("Cat" != "Dog")
# print(10 % 2 <= 2)
# print(len("Cat") == len("Dog"))
# print(3 < int(3.14))

True

<a id='s2'></a>
## 2. Data types

<a id='s2.1'></a>
### 2.1 Basic data types

As we have seen in the previous section, there are many different data types in Python. Four of the most common data types are called integers, floats, Booleans and strings. The table below describes each of these.

| Symbol | Operator | Examples |
|------|------|-----|
|   Boolean (bool)  | Either True or False| 6 == 6 <br> 8.9 > 9.4 <br> ‘Cat’ != ‘Dog’|
|   Integer (int)  | An integer | 5 |
|   Float (float)  | A real number | 8 <br> 3.14 |
|   String (str)  | A collection of symbols | "the cat" <br> "1.23 213" <br> "!@$££W$I"|

#### Quiz

What are the data types of the variables s,t,u,v,w,x below?

In [7]:
s = 3
t = "Deloitte"
u = 3.1415
v = 3 / 4
w = 3 // 4
x = 3 < 4

#### Answers

To find the answers uncomment the next cell by highlighting all of the text and pressing ctrl (or command on mac) + /

In [9]:
print("s is type", type(s))
# print("t is type", type(t).__name__)
# print("u is type", type(u).__name__)
# print("v is type", type(v).__name__)
# print("w is type", type(w).__name__)
# print("x is type", type(x).__name__)

s is type <class 'int'>

<a id='s2.2'></a>
### 2.2 Lists

Lists allow us to work with a list (surprise, surprise!) of values.

Lists are mutable, which means that you can add or remove objects in them.

#### Accessing elements in a list

Elements in a list can be accessed by putting the index of the element in the list in square brackets after the name of the list. The index here just means the position at which it is stored in the list. In python, lists are 0-indexed, which means that the first value in a list has index 0.

For example, `x[0]` returns the **first** element in the list `x`. You can also use negative indexes which start at the end of the list. `x[-1]` returns the **last** item in the list, `-2` would return the second from last element.

 `x[0:2]` returns what is known as a **slice** of the list, in this case the first and second items in the list only (notice that the slice is from 0 and up to but not including 2). Python assumes that you want to start from the beginning of the list, so you can use the shorthand notation `x[:2]` to achieve the same thing. Similarly, `x[2:]` will print everything from index 2 to the end of the list.

In [2]:
x = [2, 2, 4, 4, 4, 5, 6]

In [6]:
def find_element(orig_list: list, num: int)->list:
  new_list=[]
  for i in orig_list:
    if i == num:
      new_list.append(i)
  return new_list
%time print(find_element(x, 2))

[2, 2]
CPU times: user 34 µs, sys: 7 µs, total: 41 µs
Wall time: 38.1 µs

In [7]:
%time print(list(filter(lambda x: x==2, x)))

[2, 2]
CPU times: user 35 µs, sys: 4 µs, total: 39 µs
Wall time: 39.8 µs

In [8]:
%time print([n for n in x if n==2])

[2, 2]
CPU times: user 28 µs, sys: 2 µs, total: 30 µs
Wall time: 31 µs

In [42]:
### YOUR CODE HERE
# Using the square bracket notation:
# 1. Print all the 2s in the list

# 2. Print all the 4s in the list

# 3. Print all the 5s in the list

# 4. Print all the 6s in the list
###

#### List methods

There are some handy methods that you can apply to lists that can make your life easier:

In [ ]:
### ADDING VALUES TO A LIST
x = [2, 2, 4, 4, 4, 5, 6]

# append() adds an item to the end of the list
x.append("cow")
print(x)

# insert(x, y) inserts object y into position x in the list.
x.insert(1, 9)
print(x)

# extend() adds a second list to the end of a first list.
# Q: What would happen if you appended another_list to x?
another_list = [5, 6, 7]
x.extend(another_list)
print(x)

[2, 2, 4, 4, 4, 5, 6, 'cow']
[2, 9, 2, 4, 4, 4, 5, 6, 'cow']
[2, 9, 2, 4, 4, 4, 5, 6, 'cow', 5, 6, 7]

In [ ]:
### REMOVING VALUES FROM A LIST

# remove() removes an item from a list.
x.remove("cow")
print(x)

# pop() will remove the last value on the list by default.
x.pop()
print(x)
# you can save the value that is removed form the list
popped = x.pop()
print('Removed value:', popped)
print(x)

[2, 9, 2, 4, 4, 4, 5, 6, 5, 6, 7]
[2, 9, 2, 4, 4, 4, 5, 6, 5, 6]
Removed value: 6
[2, 9, 2, 4, 4, 4, 5, 6, 5]

In [ ]:
### CHANGING THE ORDER OF VALUES
print(x)
# reverse() reverses the values
x.reverse()
print(x)
# sort() sorts the values in ascending/alphabetical order
x.sort()
print(x)
# or if you want to sort it the other way round
x.sort(reverse=True)
print(x)
# or if you don't want to alter your original list
sorted_x = sorted(x)
print(sorted_x)

[2, 9, 2, 4, 4, 4, 5, 6, 5]
[5, 6, 5, 4, 4, 4, 2, 9, 2]
[2, 2, 4, 4, 4, 5, 5, 6, 9]
[9, 6, 5, 5, 4, 4, 4, 2, 2]
[2, 2, 4, 4, 4, 5, 5, 6, 9]

In [43]:
%time x.sort()

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 6.91 µs

In [45]:
%time sorted(x)

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 11.2 µs

[2, 2, 4, 4, 4, 5, 6]

In [ ]:
### OTHER USEFUL BUILT IN FUNCTIONS

# count() counts the number of an item in a list
print("There are", x.count(4), "fours in the list")

# len() returns the length of the list
print("The list has", len(x), "elements.")

# min(), max(), sum() do what you think!
print("The sum of all elements in the list is:", sum(x))
print("The min is:", min(x))
print("The max is:", max(x))

There are 3 fours in the list
The list has 9 elements.
The sum of all elements in the list is: 41
The min is: 2
The max is: 9

<a id='s2.1'></a>
### Lists quiz

1. The daily sales for "Hola coffee bar" over a working week are `£123, £133, £125, £144, and £145`. Create a list of floats called `sales` that represents this data.
1. What are the mean daily sales?
1. The next days sales are `£200`, add this to the list.
1. You are told that the sales on one day were incorrect, instead of £144 it was actually £146. Correct this in the list.

In [47]:
### Answer:

# Q1
## 1 line of code ##
sales = [123, 133, 125, 144, 145]

# Q2
## 1 line of code ##
print(sum(sales)/len(sales))

# Q3
## 1 line of code ##
sales.append(200)

# Q4
## 3 lines of code ##
sales[-3] = 146
print(sales)

134.0
[123, 133, 125, 146, 145, 200]

<a id='s2.3'></a>
### 2.3. Tuples

Tuples are very similar to lists with one big exception - you can't modify them (they are immutable).

Immutable objects can be useful if you don't want to modify objects by mistake.

This property of tuples means that there are fewer methods that you can apply to them compared to lists.

In [ ]:
list_1 = ['Python', 'R', 'SQL']
list_2 = list_1
list_1[1] = 'MATLAB'
print(list_2)

['Python', 'MATLAB', 'SQL']

In [ ]:
# Tuples are created using round brackets
tuple_1 = ('Python', 'R', 'SQL')
tuple_2 = tuple_1
tuple_1[1] = 'MATLAB'
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

Slicing and indexing also works on tuples:

In [ ]:
y = tuple(x)
print(y)

# Slicing and indexing works in tuples as with lists
print(y[2])

# Index returns the index of an item in the tuple
print('There is a 5 in position', y.index(5), "of y.")

(9, 6, 5, 5, 4, 4, 4, 2, 2)
5
There is a 5 in position 2 of y.

### Tuples quiz

1. Create a tuple containing the days of the week called `d_o_w`.
1. Print the name of today. Use an index to call it.
1. You find a new tribe in the Amazon rainforest that has an 8 day week. Their extra day is called Funday and comes after Wednesday. Make a new tuple with this day.
1. What index does Funday have?

In [48]:
# Q1
## 1 line of code ##
dow = ('M', 'T', 'W', 'T', 'F', 'S', 'S')

# Q2
## 1 line of code ##
print(dow.index('F'))

# Q3
## 1 line of code ##

# Q4
## 1 line of code ##

4

<a id='s2.4'></a>
### 2.4 Sets

A set is a collection of unique objects, denoted by curly brackets. `e.g. set([5,6,4,5,7,6,5]) == {4,5,6,7}`.

The order of a set is not fixed.

In [ ]:
set_1 = {'cat', 'dog', 'bald eagle', 'orangutan'}
print(set_1)

{'bald eagle', 'dog', 'cat', 'orangutan'}

Some useful methods that can be applied to sets:

In [ ]:
set_1 = {1, 4, 5, 7, 8}
set_2 = {1, 4, 6}

# set_1.issubset(set_2) tells us if set_1 is a subset of set_2
print("Is set_1 a subset of set_2?",set_1.issubset(set_2))

# set_1.intersection(set_2) tells us the common members of set_1 and set_2
print("set_1 and set_2 have the following common elements:", set_1.intersection(set_2))

# .difference() tells us the different between two sets.
print('Difference:', set_1.difference(set_2))

# .union() shows all the unique values in two sets
print('Union:', set_1.union(set_2))

Is set_1 a subset of set_2? False
set_1 and set_2 have the following common elements: {1, 4}
Difference: {8, 5, 7}
Union: {1, 4, 5, 6, 7, 8}

### Sets quiz

1. You have a list of letters, `dna_list` and want to see if it could represent a DNA sequence. How do you check? Note, only 4 distinct letters are used in DNA. `dna_list = ['a','c','c','c','c','c','t','g','r']`
1. You have the following two lists of customers from two firms and you wish to find a list of common customers of both firms? <br> `list_1 = [ 'John', 'Melanie', 'Tony', 'Charlie', 'Jane', 'John']` <br> `list_2 = ['Jane', 'Rupert', 'John']`

In [51]:
# Q1
## 2 lines of code ##
dna_list=['a','c','c','c','c','c','t','g']
assert len(set(dna_list)) == 4
# Q2
## 1 line of code ##
print({'John', 'Melanie', 'Tony', 'Charlie', 'Jane', 'John'}.intersection({'Jane', 'Rupert', 'John'}))

{'Jane', 'John'}

# HELP!

Help on any item in python can be found by typing the help() command.

Alternatively - use google!

In [ ]:
help(x)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

<a id='s2.5'></a>
### 2.5 Dictionaries

Dictionaries consist of a key and a value. Both can be any of the objects discussed so far.

Dictionaries allow for recall of values associated with a particular key by using the square bracket notation we've seen before e.g. `dict_1['B'] = 4`.

Very useful in data analysis, since most real life data is not tabular. E.g. customer data:

```python
customer = {'Name': 'John',
            'Age': 49,
	        'Orders':{'12/3/19': ['apples', 'carrots', 'peas'],
         		          '15/5/19': ['tomatoes', 'apples']}}
```

#### How to form a dictionary

1. Start with empty dictionary and update
```python
cust_dict = {}
cust_dict.update({'Name': 'John', 'Age': 49})
```
1. From a list of tuples
```python
tuple_list = [('A', 'Alpha'), ('B', 'Bravo'), ('C', 'Charlie')]
phonetic_dict = dict(tuple_list)
```
1. Use the built in zip function to form tuple list from two lists:
```python
l1 = ['A', 'B', 'C']
l2 = ['Alpha', 'Bravo', 'Charlie']
phonetic_dict = dict(zip(l1,l2))
```
1. Use a for loop - more to follow...

#### More useful methods

In [ ]:
l1 = ['A', 'B', 'C']
l2 = ['Alpha', 'Bravo', 'Charlie']
phonetic_dict = dict(zip(l1,l2))
print(phonetic_dict)

### REMOVE VALUES

# del() method
del(phonetic_dict['A'])
print(phonetic_dict)

# pop() method
phonetic_dict.pop('B')
print(phonetic_dict)

{'A': 'Alpha', 'B': 'Bravo', 'C': 'Charlie'}
{'B': 'Bravo', 'C': 'Charlie'}
{'C': 'Charlie'}

In [ ]:
### OTHER USEFUL METHODS
l1 = ['A', 'B', 'C']
l2 = ['Alpha', 'Bravo', 'Charlie']
phonetic_dict = dict(zip(l1,l2))

# len() gives the number of keys in the dictionary
print(len(phonetic_dict))

# .keys() gives all the keys in the dictionary
print(phonetic_dict.keys())

# .values() gives all the values in the dictionary
print(phonetic_dict.values())

# .items() gives keys and values in the dictionary
print(phonetic_dict.items())

3
dict_keys(['A', 'B', 'C'])
dict_values(['Alpha', 'Bravo', 'Charlie'])
dict_items([('A', 'Alpha'), ('B', 'Bravo'), ('C', 'Charlie')])

#### Dictionaries Quiz

1. Make English-German translation dictionary by zipping these two lists together:	<br> `eng_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']` <br> `ger_days = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sommtag']`

1. Print the German for Wednesday.
1. Correct the spelling mistake by replacing 'Sommtag' with 'Sonntag'.

In [57]:
from itertools import zip_longest
# Q1
## 3 lines of code ##
eng_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Funday']
ger_days = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sommtag']

days_dict = dict(zip_longest(eng_days, ger_days))
# Q2
## 1 line of code ##
days_dict.get('Wednesday')

# Q3
## 1 line of code ##
days_dict['Sunday'] = 'Sonntag'

<a id='summary1'></a>
## Summary
- A computer program consists of a series of logical instruction followed in order by the computer.
- During a program data types are generated and stored as variables in the computer memory.
- Python uses range of data types including:
    - Integers, Floats, Booleans and Strings
    - Lists (mutable), tuples (immutable) and sets (unique)
    - Dictionaries that consist of keys and values, both of which can be any of the above data types, including another dictionary.

<a id='s3'></a>
## 3. Control Flows

<a id='s3.1'></a>
### 3.1 For loops

Often the fundamental basis of most programs, a for loop is where program does the same task many times.

In Python they are written as follows:

```python
for x in y:
    # some command for python to execute indented four spaces
    print(x)
    
```

Let's look at a few simple for loops:

In [ ]:
# Loop over a fixed number of integers
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
# Loop over list entries
animals = ['cat', 'dog', 'arctic fox']
for animal in animals:
    print('The ' + animal + ' sat on the mat.')

The cat sat on the mat.
The dog sat on the mat.
The arctic fox sat on the mat.

In [ ]:
# The enumerate function allows you to iterate over list entries and their index.
for index, item in enumerate(animals):
    print('Index:',index)
    print('Item:', item)

print('End of for loop')

Index: 0
Item: cat
Index: 1
Item: dog
Index: 2
Item: arctic fox
End of for loop

In [ ]:
# You can create a list using a for loop - this is called a 'list comprehension'
list_2 = [3*i for i in range(4)]
print(list_2)

[0, 3, 6, 9]

In [ ]:
# You can put loops within loops or ‘nested loops’.
numbers = [10, 5, 184]

for number in numbers:
    for animal in animals:
        print(f'There are {i} {animal}s')

There are 3 cats
There are 3 dogs
There are 3 arctic foxs
There are 3 cats
There are 3 dogs
There are 3 arctic foxs
There are 3 cats
There are 3 dogs
There are 3 arctic foxs

#### For loops quiz

1. Write a piece of code that prints the first 10 integers and their cubes.
1. Write out ‘I will not waste chalk’ 100 times.

![title](chalk.png)

In [59]:
# Q1
## 2 lines of code ##
for n in range(1, 11):
  print(f"orig: {n}, cubed: {n**3}")
# Q2
## 2 lines of code ##
print("I will not waste chalk \n"*100)

orig: 1, cubed: 1
orig: 2, cubed: 8
orig: 3, cubed: 27
orig: 4, cubed: 64
orig: 5, cubed: 125
orig: 6, cubed: 216
orig: 7, cubed: 343
orig: 8, cubed: 512
orig: 9, cubed: 729
orig: 10, cubed: 1000
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk
I will not waste chalk

#### Looping over dictionaries

There are three ways to loop over a dictionary:

1. Loop over the values - using `.values()`
1. Loop over the keys - using `.keys()`
1. Loop over both - using `.items()`

In [ ]:
list_1 = ['001', '002', '003' ]
name = ['John', 'Sarah', 'Tim']
age = [49, 32, 27]

# dict.fromkeys() forms dictionary from list of keys.
dict_1 = dict.fromkeys(list_1,{})

dict_1

{'001': {}, '002': {}, '003': {}}

In [ ]:
# A for loop can be used to populate the dictionary
for i, key in enumerate(list_1):
     dict_1[key]={'Name': name[i], 'Age': age[i]}

dict_1

{'001': {'Name': 'John', 'Age': 49},
 '002': {'Name': 'Sarah', 'Age': 32},
 '003': {'Name': 'Tim', 'Age': 27}}

In [ ]:
# Loop over the values
for value in dict_1.values():
    print('value:', value)
    print('name:', value['Name'])

value: {'Name': 'John', 'Age': 49}
name: John
value: {'Name': 'Sarah', 'Age': 32}
name: Sarah
value: {'Name': 'Tim', 'Age': 27}
name: Tim

In [ ]:
# Loop over keys
for key in dict_1.keys():
    print('key:',key)

key: 001
key: 002
key: 003

In [ ]:
# Loop over both
for key, val in dict_1.items():
    print('key:', key)
    print('value:', val)

key: 001
value: {'Name': 'John', 'Age': 49}
key: 002
value: {'Name': 'Sarah', 'Age': 32}
key: 003
value: {'Name': 'Tim', 'Age': 27}

#### Quiz

You are monitoring the stock levels for a drinks wholesaler that has the following products:
`products_list = ['beer', 'wine', 'cider', 'whisky', 'ale', 'gin']`

with the respective stock levels:
`stock_levels = [127, 87, 34, 56, 134, 78]`

and price per item:
`product_price = [0.67, 0.78, 1.23, 1.45, 0.45, 2.15]`


1. Form dictionaries, with names as keys, for stock levels and product prices.
1. Form dictionary for value of stock by product name. Find total value of stock.
1. A customer has the following order. Find the value of this sale and adjust the stock levels.
`order = {'beer': 3, 'cider': 2, 'gin': 1}`

In [10]:
from pprint import pprint


products_list = ['beer', 'wine', 'cider', 'whisky', 'ale', 'gin']
stock_levels = [127, 87, 34, 56, 134, 78]
product_price = [0.67, 0.78, 1.23, 1.45, 0.45, 2.15]

# Q1
## 2 lines of code ##
nested_dict = {}
for i in range(len(products_list)):
    nested_dict[products_list[i]] = {
        'stock_level': stock_levels[i],
        'product_price': product_price[i]
    }

nested_dict.get('beer').get('stock_level')
# Q2
## 6 lines of code ##

# Q3
## 6 lines of code ##
order = {'beer': 3, 'cider': 2, 'gin': 1}
total_sales = 0
for k, v in order.items():
    total_sales += nested_dict.get(k).get('product_price') * v
    nested_dict[k]['stock_level'] -= v
pprint(total_sales)
pprint(nested_dict)

6.620000000000001
{'ale': {'product_price': 0.45, 'stock_level': 134},
 'beer': {'product_price': 0.67, 'stock_level': 124},
 'cider': {'product_price': 1.23, 'stock_level': 32},
 'gin': {'product_price': 2.15, 'stock_level': 77},
 'whisky': {'product_price': 1.45, 'stock_level': 56},
 'wine': {'product_price': 0.78, 'stock_level': 87}}

<a id='s3.2'></a>
### 3.2 If statements

Does one thing if Boolean statement is true. Three versions:

- `If` statement
- `If`..`Else`
- `If`..`Elif`...`Else`

In [ ]:
# Try changing the definition of x to 'Dog' and then something else to see what happens
x = 'Cat'

if x == 'Cat':
    print('It\'s a cat')
    if len(x) == 3:
        print('Hello')

It's a cat
Hello

In [ ]:
if x != 'Cat':
    print('It\'s not a cat')
else:
    print('It\'s a cat')

It's a cat

In [ ]:
if x == 'Cat':
    print('It\'s a cat')
elif x == 'Dog':
    print('It\'s a dog')
else:
    print('I don\'t know what it is, maybe a bald eagle?')

It's a cat

In [ ]:
# variables can be conditionally assigned on one line
x = 0
rich = False
x = 10000000 if rich else x
print(x)

0

#### Quiz

1. Write a short piece of code that prints the larger of two numbers.

1. Write a short piece of code that checks if two words have the same first letter.

1. Given the following dictionary of ages of retirees, print the names of those eligible for a bus pass (age > 65).

`retiree_dict = {'John':62, 'Jane': 67, 'Doris':74, 'Malcom':81, 'Karen': 64, 'Tony':59}`

In [16]:
number_1 = 34.
number_2 = 23.1

# Q1
## 4-6 lines of code ##
print(max(number_1,number_2))

# Q2
## 2 lines of code
a="word_one"
b="word_two"
assert a[0] == b[0]

# Q3
## 5 lines of code
retiree_dict = {'John':62, 'Jane': 67, 'Doris':74, 'Malcom':81, 'Karen': 64, 'Tony':59}
eligible = [name for name, age in retiree_dict.items() if age>65]
print(eligible)

34.0
['Jane', 'Doris', 'Malcom']

<a id='s3.3'></a>
### 3.3 While statements

Does something while a Boolean statement is true

In [ ]:
x = 0
while x < 10:
    # x += 1 is equivalent to x = x + 1
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# CAREFUL WITH WHILE LOOPS!!!
# EXAMPLE OF AN INFINITE LOOP:
# i = 2
# j = 0
# while i == 2:
#     print(j)
#     j += 1

#### Quiz

1. You have £50 pounds to spend on Friday night drinks in the Punch Tavern, but you need £7 for train ride home. You drink beers costing £4.49 until you only have £7 left, print your diminishing balance each time you buy a beer. How many beers did you drink?

In [ ]:
# Q1
## 6 lines of code

<a id='s4'></a>
## 4. Functions

A function is piece of reusable code, 'independent' of main program.
It takes in input(s) and returns output(s), but doesn't need to have either.

```python
def f(x):
    '''It is good practice to write a comment
    decribing what the function does here.'''
    y = x + 7
    return y
```

**Coding Tip**:
Try to have the majority of your program in functions and try to ensure every function does just one thing.

In [ ]:
def function_name_1(x):
    answer = x*3
    return answer

z = function_name_1(4)

# Note the structure of the code below - this is known as a list comprehension
z_list = [function_name_1(x) for x in range(0,100)]

print(z_list)
print(z)

# Variables defined in modules don't exist in main program.
# This is the local vs. global distinction.
print(answer)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]
12

NameError: name 'answer' is not defined

In [ ]:
# Good practice is to write a comment describing what a function does here.
def function_name_2(a, b):
    '''
    Returns the greater of two variables a and b.
    '''
    if a > b:
        return a
    else:
        return b

print(function_name_2(4,6))

# Help can be run on your function and will print the comment
help(function_name_2)

6
Help on function function_name_2 in module __main__:

function_name_2(a, b)
    Returns the greater of two variables a and b.

### Quiz

1. Write two functions, one finding the area of a triangle, given it's base and height, and the other the area of a circle given it's radius.
1. Write a function that converts a 24 hour time string ('HH:MM:SS') into number of seconds since '00:00:00'.
1. Write another function that converts seconds back to a 24 hour time string. (It is ok to output stings which are not of length 8, e.g. 'H:M:SS'.)

In [29]:
from math import pi
# Q1
## 4 lines of code ##
def calculate_triangle_area(b: float, h: float) -> float:
    """Calculates area of triangle given base and height."""
    return b*h/2

def calculate_circle_area(r: float) -> float:
    """Calculates area of circle given radius."""
    return pi*r**2

# Q2
## 2 lines of code ##
time_str = '21:10:11'.split(sep=":")
%timeit total_seconds = int(time_str[0])*3600 + int(time_str[1])*60 + int(time_str[2])
%timeit total_seconds = sum(int(time_string)*mult_factor for time_string, mult_factor in zip(time_str, [3600, 60, 1]))
print(total_seconds)

#Q3
## 5 lines of code ##
hours, remainder = divmod(total_seconds, 3600)
minutes, seconds = divmod(remainder, 60)
print(f"{hours}:{minutes}:{seconds}")

338 ns ± 4.36 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
639 ns ± 17.3 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)
76211
21:10:11

<a id='s5'></a>
## 5. Other useful features

<a id='s5.1'></a>
### 5.1 Exception handling

Designed to catch errors and find work around to them. E.g.

In [ ]:
y = [1.2, 4.6, 0.0, 9.0]
z = []
for f in y:
    try:
        z.append(1.0/f)
    except ZeroDivisionError:
        z.append(0.0)
print(z)

[0.8333333333333334, 0.2173913043478261, 0.0, 0.1111111111111111]

<a id='s5.2'></a>
### 5.2 String formatting with f strings.

You can insert values into a string by putting an f at the start of the string and the values in curly brackets.

In [ ]:
name = 'Kenny'
age = 7.5
print(f'His name is {name} and he is {age} years old.')

His name is Kenny and he is 7.5 years old.

<a id='s5.3'></a>
### 5.3 Lambda Functions

Allow user to define 'mathematical' functions.

In [ ]:
f = lambda x: x**2 + 5
print(f(5), f(4))

30 21

Can be used within modules:

In [ ]:
def create_multiplier(n):
    return lambda x: x*n

m4 = create_multiplier(4)
m5 = create_multiplier(5)

print(m4(2), m4(5))
print(m5(4), m5(6))

8 20
20 30

<a id='summary2'></a>
## 6. Summary
- Loops allow for a set of instructions to be repeated many times.
- For loops can run over:
    - A range of integers
    - The values of a list, tuple or set
    - The indices and values of a list, tuple or set, using enumerate
    - The keys, values or keys & values of a dictionary.
- If statements allow for decisions to be made based on Boolean statements.
- While loops will repeat instruction when Boolean is True.

<a id='s7'></a>
## 7. Exercise 1

Time to put everything you've learned so far into practice! See how many of the following questions you can do in the next 30 minutes.

### Questions

1. Write a program to find how many letters are in an inputted string.

1. Modify the program in Q1 to also print the first and last letter in inputted string.

1.	Write a program that reads in a list of names and outputs a list of all the unique names.

1.	Modify the program in Q3 to output the longest name.

1.	Write a program that inputs two lists, and tells you:
    - the elements in the first list but not the second;
    - the elements in both lists;
    - the elements in the second list but not the first.
    
1.	Write a program that inputs a list of numbers and multiplies each element by 10.

1.	Write a program that finds the smallest entry in a list of numbers.

1. Write a dictionary of the names and a guess at the ages of everyone on the course.

1. Write a program that outputs the name of the oldest person in the dictionary in Q8.

1. Write a dictionary with integers from 1 to a 100 as keys and the square of these numbers as values.

1. Write a program to check if an inputted string is a palindrome (a word or phrase spelt the same forwards and backwards e.g. racecar or ‘Never odd or even’).

1. Write a program to output the first 50 entries of the Fibonacci Series, in which the next number in the series is found by adding the previous two.

In [20]:
# Question 1
# ~ 2 lines of code
def find_distinct_letters(letters:str)->int:
    return len(set(letters))
assert find_distinct_letters('asdff') == 4

# Question 2
# ~ 4 lines of code
def find_distinct_letters(letters:str)->tuple[str, str]:
    return letters[0], letters[-1]
assert find_distinct_letters('asdfe') == ('a','e')

# Question 3
# ~ 2 lines of code
def list_of_unique_names(names:list)->set:
    return set(names)
assert list_of_unique_names(['asdf', 'asdf', 'qwer']) == {'asdf', 'qwer'}

# Question 4
# ~ 7 lines of code
def longest_names(names:list)->str:
    # max_len=0
    # for name in names:
    #     if len(name) > max_len:
    #         max_len = len(name)
    #         res = name
    # return res
    return max(names)
assert longest_names(['asdfasdfasdfasdf','asdf','asdfasdf', 'asdfasdfasdf']) == 'asdfasdfasdfasdf'


# Question 5
# ~ 5 lines of code
def use_set(list_one: list, list_two: list) -> tuple[set]:
    ele_one_not_two = set(list_one).difference(set(list_two))
    ele_both = set(list_one).intersection(set(list_two))
    ele_two_not_one = set(list_two).difference(set(list_one))
    return (ele_one_not_two, ele_both, ele_two_not_one)
assert use_set(['asdf','a','b'], ['asdf','c']) == ({'a','b'}, {'asdf'}, {'c'})

# Question 6
# ~ 2 lines of code
def multiply_ten(l:list)->list:
    return [ele*10 for ele in l]
assert multiply_ten([1,2,3])==[10,20,30]

# Question 7
# ~ 2 lines of code
def find_smallest(l:list)->int:
    return min(l)
assert find_smallest([1,2,3]) == 1

# Question 8
# ~ 5 lines of code
course_attendees = {'a':21, 'b':22, 'c':33, 'd': 33, 'e': 18}

# Question 9
# ~ 9 lines of code
def names_of_oldest(some_dict: dict)->list[str]:
    return [k for k, v in some_dict.items() if v==max(some_dict.values())]
assert names_of_oldest(course_attendees) == ['c','d']

# Question 10
# ~ 6 lines of code
nums_dict = {n:n**2 for n in range(1, 101)}
# nums_dict

# Question 11
# ~ 2 lines of code
def is_palindrome_version_one(some_str: str)->bool:
    some_str = some_str.replace(' ','').lower()
    for i in range(len(some_str)//2):
        if some_str[i] != some_str[-1-i]:
            return False
    return True

def is_palindrome_version_two(some_str: str)->bool:
    some_str = some_str.replace(' ','').lower()
    return some_str == some_str[::-1]

# %timeit is_palindrome_version_one('Never odd or even')
# %timeit is_palindrome_version_two('Never odd or even')

# Question 12
# ~ 10 lines of code
def fibonacci_series(num:int):
    if num < 2:
        raise ValueError(f"Input '{num}' should be greater than 2 to calculate Fibonacci series.")
    res = [1, 1,]
    for i in range(1, num-1):
        res.append(res[i-1] + res[i])
    return res

def fibonacci(n):
    if n<=0:
        return 0
    elif n == 1:
        return 1
    return fibonacci(n-2) + fibonacci(n-1)

print(fibonacci_series(10))
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

55